.Grid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.GridCell {
  width: calc(33% - 2px);
  background-color: #2b3035;
  border-radius: 18px;
  display: flex;
  transition: 250ms;
}

.GridCell:hover {
  background-color: #34393f;
  transition: 250ms;
}
